---
layout: default
---
<!-- Aims Section -->
<div id="aims" class="section py-4">
  <h3 class="section-title text-center my-5">Aims &amp; Values</h3>
  <!-- Content -->
  <div class="content clearfix">
    <div id="introduction" class="container mb-5">
      <div class="col-lg-10 col-md-10 ml-auto mr-auto text-center">
        <p class="lead">We apply disruptive omics technologies to study the human cells at single-cell resolution.
          We leverage advanced computational methods to understand how the immune system develops and maintains health,
          and study the consequences of infection, inflammation and disease.
        </p>
      </div>
    </div>
    <!-- Features -->
    <div class="features py-4 mb-4">
      <div class="container">
        <div class="row">
          <div class="feature py-4 col-md-6 d-flex">
            <div class="icon text-primary mr-3"><i class="fa fa-link"></i></div>
            <div class="px-4">
              <h5>Strength through diversity.</h5>
              <p>We're a diverse lab consisting of clinicians, researchers and students from across the globe.</p>
            </div>
          </div>
          <div class="feature py-4 col-md-6 d-flex">
            <div class="icon text-primary mr-3"><i class="fa fa-search"></i></div>
            <div class="px-4">
              <h5>Reproducible science.</h5>
              <p>Data and analysis code from our publications are publicly available through our website.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="feature py-4 col-md-6 d-flex">
            <div class="icon text-primary mr-3"><i class="fa fa-flask"></i></div>
            <div class="px-4">
              <h5>Advocating team science.</h5>
              <p>We advocate team science within a supportive and collaborative research environment. </p>
            </div>
          </div>
          <div class="feature py-4 col-md-6 d-flex">
            <div class="icon text-primary mr-3"><i class="fa fa-users"></i></div>
            <div class="px-4">
              <h5>Inclusion and innovation.</h5>
              <p>We work hard to create a fun, inclusive training environment for all researchers and students.</p>
            </div>
          </div>              
        </div>
      </div>
    </div>
    <!-- / Features -->
  </div>
</div>  
<!-- / Aims Section -->
<!-- Research Section -->
<div id="research" class="section section-invert py-4">
  <h3 class="section-title text-center m-5">Research Interests</h3>
  <div class="container">
    <div class="py-4">
      <div class="row">
        <div class="col-md-12 col-lg-4 d-flex">
          <a class="card mb-4 flex-fill" href="{% link research/human-cell-atlas.markdown %}">
            <img class="card-img-top" src="assets/img/cards/hca.jpg" alt="Human Cell Atlas">
            <div class="card-body">
              <h4 class="card-title">Human Cell Atlas</h4>
              <p class="card-text">The Human Cell Atlas (HCA) is a global initiative that aims to create a reference atlas of the human body by mapping every cell...</p>
              <div class="btn btn-primary btn-pill">Read More</div>
            </div>
          </a>
        </div>
      </div>
      <!--
      <div class="row">
        <div class="col-md-12 col-lg-4 d-flex">
          <a class="card mb-4 flex-fill" href="">
            <img class="card-img-top" src="assets/img/cards/placeholder.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Giant Cell Arteritis and Vasculitis</h4>
              <p class="card-text">Donec quam orci, dignissim in mauris id, tincidunt iaculis ex. Fusce egestas nisl at quam vehicula, sit amet mollis libero fringilla...</p>
              <div class="btn btn-primary btn-pill">Read More</div>
            </div>
          </a>
        </div>
        <div class="col-md-12 col-lg-4 d-flex">
          <a class="card mb-4 flex-fill" href="">
            <img class="card-img-top" src="assets/img/cards/placeholder.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Liver Cancer Immunology</h4>
              <p class="card-text">Etiam ut nunc nec diam dictum facilisis. Nunc id vehicula metus, id auctor ligula. Nam bibendum augue vitae purus rutrum...</p>
              <div class="btn btn-primary btn-pill">Read More</div>
            </div>
          </a>
        </div>
        <div class="col-md-12 col-lg-4 d-flex">
          <a class="card mb-4 flex-fill" href="">
            <img class="card-img-top" src="assets/img/cards/placeholder.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Haematopoiesis</h4>
              <p class="card-text">Duis pulvinar leo a ultricies venenatis. Curabitur mollis viverra hendrerit. Maecenas ultricies a sem in mattis. Nulla pharetra...</p>
              <div class="btn btn-primary btn-pill">Read More</div>
            </div>
          </div>
        </a>
      </div>
      -->
    </div>
  </div>
</div>
<!-- / Research Section -->
<div class="pt-5">
  <!-- Icon Packs -->
  <div id="engagement" class="container mb-5">
    <div class="col-lg-8 col-md-10 ml-auto mr-auto mb-5">
      <h2 class="text-center mb-4">Public Engagement</h2>
      <p class="text-center">We explore ways of engaging the public and scientific community with our work, 
        to generate understanding and purpose in our research.</p>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row engagement-block">
      <a class="engagement-wrapper c1 col-md-4" target="_blank" href="https://www.nature.com/articles/s41591-020-0767-x">
        <div class="col-lg-8 col-md-8 col-sm-12 text-center ml-auto mr-auto py-5">
          <h2 class="text-light mb-2 align-middle">Nature Article</h2>
          <h5 class="text-muted mb-0">Muzlifah Haniffa — a new era for collaborative and supportive medical research</h5>
        </div>
      </a>
      <a class="engagement-wrapper c2 col-md-4" target="_blank" href="https://www.dynamonortheast.co.uk/dynamites-20-awards-shortlisted-entries/">
        <div class="col-lg-8 col-md-8 col-sm-12 text-center ml-auto mr-auto py-5">
          <h2 class="text-light mb-2">Dynamo North East Awards</h2>
          <h5 class="text-muted mb-0">3D printing PPE for clinicians during COVID</h5>
        </div>
      </a>
      <a class="engagement-wrapper c3 col-md-4" target="_blank" href="https://www.foulkes-foundation.org/medal">
        <div class="col-lg-8 col-md-8 col-sm-12 text-center ml-auto mr-auto py-5">
          <h2 class="text-light mb-2">Foulkes Foundation Medal</h2>
          <h5 class="text-muted mb-0">Professor Muzlifah Haniffa from Newcastle University and the Wellcome Sanger Institute has won the 2019 Foulkes Foundation Medal</h5>
        </div>
      </a>
    </div>
  </div>
</div>
<!-- Features Section -->
<div id="app-features" class="app-features section">
  <div class="container-fluid">
    <div class="row">
      <div class="app-screenshot col-lg-4 col-md-12 col-sm-12 px-0 py-5">
        <a target="_blank" href="https://developmental.cellatlas.io/">
          <img class="mt-auto mb-auto" src="/assets/img/app-screenshot.webp" alt="Software Screenshot">
        </a>
      </div>
      <!-- App Features Wrapper -->
      <div class="app-features-wrapper col-lg-4 col-md-6 col-sm-12 py-5 mx-auto">
        <div class="container">
          <h3 class="section-title underline--left my-5">Cell Atlas Software</h3>
          <div class="feature py-3 d-flex">
            <div class="icon text-white bg-info mr-5"><i class="fa fa-mouse-pointer"></i></div>
            <div>
                <h5>Web app data explorer</h5>
                <p>For analysis and exploration of single cell RNA sequencing transcriptomics data</p>
            </div>
          </div>
          <div class="feature py-3 d-flex">
            <div class="icon text-white bg-info mr-5"><i class="fas fa-dna"></i></div>
            <div>
                <h5>Single cell transcriptomics</h5>
                <p>Visual exploration of the expression of genes at the single-cell resolution</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / Features Section -->
<!-- Team Section -->
<div id="team" class="section py-4">
  <h3 class="section-title text-center m-5">Team</h3>
  <div class="container py-5">
    {% assign team = site.team | where: "category", "senior" %}
    {% for person in team %}
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
          <a class="team-card flex-fill team-card-link" href="{{ person.url }}">
            <img src="/assets/img/team/{{ person.thumbnail }}" alt="{{ person.name }}" />
          </a>
        </div>
        <div class="col-lg-9 col-md-6 col-sm-6 d-flex">
          <div class="team-card flex-fill team-card-link text-left p-5">
            <h4 class="mb-4">Dr Laura Jardine</h4>
            <div class="position mb-4"> Senior Clinical Lecturer in Haematology</div>
            <p>
              <a href="{% link _team/muzz-haniffa.markdown %}" class="btn btn-outline-dark btn-pill align-self-center">More</a>
              <a href="https://scholar.google.com/citations?user=x8oMWIAAAAAJ&hl=en" class="btn btn-outline-dark btn-pill align-self-center">Google Scholar</a>
              <a href="https://www.sanger.ac.uk/group/haniffa-group/" class="btn btn-outline-dark btn-pill align-self-center">Sanger Institute</a>
            </p>
          </div>
        </div>
      </div>    
    {% endfor %}   
    <div class="row">
      {% assign team = site.team | where: "category", "team" %}
      {% for person in team %}
        <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
          <a class="team-card flex-fill team-card-link" href="{{ person.url }}">
            <img src="/assets/img/team/{{ person.thumbnail }}"  alt="{{ person.name }}" />
            <span class="name">{{ person.name }}</span>
            <div class="position">{{ person.position }}</div>
          </a>
        </div>
      {% endfor %}          
    </div>
  </div>
</div>
<!-- / Team Section -->