---
layout: default
---
<!-- Aims Section -->
<div id="aims" class="section py-4">
  <h3 class="section-title text-center my-5">Genomics of high-risk blood and 
    lymphoid cancer</h3>
  <!-- Content -->
  <div class="content clearfix">
    <div id="introduction" class="container mb-5">
      <div class="col-lg-10 col-md-10 ml-auto mr-auto text-center">
        <p class="lead">We aim to fully understand blood and lymphoid 
          cancers that resist conventional treatments or 
          relapse after 
          treatment. 
          We work by combining multi-omics techniques, 
          often simultaneously in individual cancer cells 
          and repeating measurements serially across 
          treatment timepoints. Our goal is to achieve 
          precise identification of high-risk features 
          earlier in the disease course, and to identify 
          new approaches for targeting the cells and 
          pathways that drive relapse.
        </p>
      </div>      
    </div>
  </div>
</div>