---
layout: page
title: "Team"
---
<div class="team-profile section py-4">
  <h3 class="section-title text-center m-5">{{ page.name }}<span class="team-position">{{ page.position }}</span></h3>
  
  <div class="container py-5">
    <div class="example col-md-12 ml-auto mr-auto">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <img class="img-fluid profile-img" src="/assets/img/team/{{ page.image }}" />
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            {{ content }}
          </div>
        </div>
    </div>
  </div>
</div>